@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*right 100%*/
}
body {
    background-image: linear-gradient(to right, #f1D8C9, #f2C3A7);
}

main{
    background-color: white;

    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(102, 95, 95, 0.863);
    width: 800px;
    padding: 10px;
    margin: auto;
}
h1{
color: #f39209;
  text-align: center; 
  box-shadow: 1px 1px 2px rgba(129, 120, 120, 0.747);
}

h2{
  color: #125189;
}
p{
    text-align: justify;
}

    
