  @charset "UTF-8";
 

        body{
            background-color: rgb(66, 66, 165);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1{
            color: rgb(228, 17, 17);
            background-color: aqua;
             border-radius: 20px;
        }
        h2{
            color: red;
            background-color: aqua;
        }
        p{
            text-align: justify;
           
        }
    