@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.0;
    background-color: rgba(224, 191, 191);
    color: black;
}
.header{
     background: bisque;
    color: rgb(9, 17, 17);
}
.contenier{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
}


nav{ 
    background-color: rgb(109, 109, 167);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-radius: 10px;
    position: relative;
}
.logo{
    font-size: 1.9rem;
    font-weight: bolder;
}

ul.menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

ul.menu li a{
    color: rgb(226, 69, 69);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

ul.menu li a:hover,
ul.menu li a:focus{
    color: rgb(9, 31, 236);
}

.btn-login{

    background-color: yellow;
    color: #3106f1;
    padding: 0.4rem 1rem;
    border: none;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    transition: backgraound 0.3s ease;
    text-decoration: none;
}
.btn-login:hover
.btn-login:focus{
    background: yellow;
}

.hamburguer{
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: 25px;
    justify-content: space-between;
    height: 20px;
}

.hamburguer span{
    display: block;
    height: 3px;
    background-color: aliceblue;
    border-radius: 2px;
}

@media (max-width: 768px){
    ul.menu{
        position: relative;
        top: 60px;
        right: 0;
        background: 0077cc;
        width: 200px;
        flex-direction: column;
        padding: 1rem;
        display: none;
        border-radius: 0 0 0 8px;
        box-shadow: 0 2px 10px black;
    }

}


u.menu.activer{
    display: flex;
}
ul.menu li{
    margin-bottom: 1rem;
}
.hamburguer{
    display: flex;
}
